<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <title>Data Peserta</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Data Peserta</h1>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No. HP</th>
                    <th>&nbsp;</th>
                </tr>
                <tr th:each="p : ${daftarPeserta.content}">
                    <td th:text="${p.nama}">Nama</td>
                    <td th:text="${p.email}">Email</td>
                    <td th:text="${p.noHp}">No. HP</td>
                    <td>
                        <a th:href="@{/peserta/form(id=${p.id})}" sec:authorize="hasAuthority('EDIT_TAGIHAN')">edit</a> |
                        <a th:href="@{/peserta/view(id=${p.id})}">view</a> | 
                        <a th:href="@{/peserta/delete(id=${p.id})}" sec:authorize="hasAuthority('EDIT_TAGIHAN')">delete</a>
                    </td>
                </tr>
            </thead>
        </table>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
            </div>
        </div>
    </section>
</body>
</html>